.download {
    background-color: #ffffff;
    padding: 60px 20px;
    text-align: center;
  
    .section-title {
      font-size: 2.5rem;
      margin-bottom: 20px;
    }
  
    .buttons {
      margin-top: 30px;
  
      .cta-button {
        padding: 10px 20px;
        background-color: #3498db;
        color: white;
        font-weight: bold;
        border-radius: 5px;
        text-decoration: none;
        margin: 10px;
      }
    }
  }
  