$backgroundColor: rgb(238, 224, 175);
$greenbackgroundFontColor: rgb(233, 210, 137);
$greenbackgroundColor: rgb(40, 55, 29);
$buttonFontColor: rgb(71, 49, 12);
$LightBackground: rgb(238, 221, 166);
$LightestGreenBackground:  rgb(133, 138, 82);
$LighterGreenBackground:  rgb(83, 99, 62);
$lightGreenBackground: rgb(50, 87, 22);
$buttonFontColor: rgb(71, 49, 12);



.screenshots {
    background: linear-gradient($LightestGreenBackground, $LighterGreenBackground);
    padding: 80px 20px;
    color: $greenbackgroundFontColor;
    text-align: center;
  
    .section-title {
      font-size: 2.5rem;
      margin-bottom: 40px;
      text-shadow: 0 0 40px black;
    }
  
    .screenshot-gallery {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 20px;
      justify-items: center;
  
      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
  
        &:hover {
          transform: scale(1.05);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
  